<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>284682341302-pffrm16c1857mbq43too709p0ct9bcnr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.284682341302-pffrm16c1857mbq43too709p0ct9bcnr</string>
	<key>API_KEY</key>
	<string>AIzaSyAcczaAwDw9fOB1OHEMWCtYZIWpKpVR2TY</string>
	<key>GCM_SENDER_ID</key>
	<string>284682341302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kishansadhwani.simformpractical</string>
	<key>PROJECT_ID</key>
	<string>my-awesome-demo-8111b</string>
	<key>STORAGE_BUCKET</key>
	<string>my-awesome-demo-8111b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284682341302:ios:ae7d799ed11da8a8758f17</string>
</dict>
</plist>